
/* header */
#header{
    height: 100px;
}
/* Container */
/* left  */
#search {
    margin : 15px;
    height: 200px;
    max-height: 200px;

    /* background-color: aquamarine; */
}
/*  right */
#name{
    /* background-color: teal; */
    padding-top: 10pt;
    font-size: 30pt;
    text-align: center;
    color: tomato;
    height: 100px;
}
#personnel{
    margin-top: 10pt;
    /* background-color: snow; */
    height: 300px;
}
#listClass{
    height: 300px;
    /* background-color: aqua; */
}
#list-onner{
    height: 200px;
}
#personnel-title{
    font-size: 20pt;
}
#listclass-title {
    font-size: 20pt;
}